
header {
    border-top: 1px solid #ac7aff;
    font-size: .8em;
}
body {
    margin: 40px auto;
    width: 80%;
    background-color: white;
    font-family: 'Open Sans';
}

.topnav li {
    font-family: 'Arima Madurai'
    color: #ac7aff;
    float: left;
    display: inline;
}

.topnav-right {
    font-family: 'Open Sans'
    color: black;
    float: right;
}

.topnav a.active {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    display: inline;

}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    color: #ac7aff;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #ac7aff;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
